button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.categoriesWrapper{
  max-width: 1570px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-top:80px ;
  margin-bottom: 80px;
}


.formWrapper{
  text-align:center;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 20px;
}
.selectWrapper{
  width: 370px;
  height: 30px;
  /* border: none; */
  border-radius: 5px;
}



.categoryButton {
  font-size: 16px;
  line-height:32px;
  color:#391400;
  opacity:64%;
        /* font-family:  Epilogue-Regular; */
}

.selected {
  color: #16CD53;
}